{% extends "base.html.twig" %}

{% block content %}
    {{ description }}
    <button class="pg-action" data="home-home">{{ trans.button.clickme }}</button>
{% endblock %}

{% block js_additional %}
	<script type="text/javascript">
        $(function() {
		    App.controller.homeHome();
        });
	</script>
{% endblock %}